{% extends 'base.html' %}

{% block main %}

<!-- ↓↓ main ↓↓ -->
<nav class="mb-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb;">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">ホーム</a></li>
        <li class="breadcrumb-item"><a href="{% url 'mypage' %}">マイページ</a></li> 
        <li class="breadcrumb-item active" aria-current="page">会員情報変更</li>
    </ol>
</nav>
<div class="container pb-5">
    <div class="row justify-content-center">
        <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-10">

            <!-- 後日実装予定 -->
            <!-- 
            {% if messages %}
            <div class="alert alert-info">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}
             -->

            <h1 class="mb-4 text-center">会員情報変更</h1>

            <form method="POST" action="{% url 'account_edit' %}" class="bg-white p-4 border shadow-sm rounded">
                
                {% csrf_token %} 

                <div class="row mb-3">
                    <label for="{{ form.username.id_for_label }}" class="col-md-4 col-form-label text-md-end fw-bold">氏名</label>
                    <div class="col-md-6">
                        {{ form.username }}
                        {% for error in form.username.errors %}<span class="text-danger small">{{ error }}</span>{% endfor %}
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="{{ form.email.id_for_label }}" class="col-md-4 col-form-label text-md-end fw-bold">メールアドレス</label>
                    <div class="col-md-6">
                        {{ form.email }}
                        {% for error in form.email.errors %}<span class="text-danger small">{{ error }}</span>{% endfor %}
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="{{ form.zipcode.id_for_label }}" class="col-md-4 col-form-label text-md-end fw-bold">郵便番号</label>
                    <div class="col-md-6">
                        {{ form.zipcode }}
                        {% for error in form.zipcode.errors %}<span class="text-danger small">{{ error }}</span>{% endfor %}
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-md-4 col-form-label text-md-end fw-bold">住所</label>
                    <div class="col-md-6">
                        <span class="me-1 small">都道府県</span>
                        {{ form.prefecture }}
                        <span class="me-1 small">市区町村</span>
                        {{ form.city }}
                        <span class="me-1 small">丁目・番地・号</span>
                        {{ form.address1 }}
                        <span class="me-1 small">建物名/会社名・部屋番号</span>
                        {{ form.address2 }}
                        {% for error in form.prefecture.errors %}<span class="text-danger small">{{ error }}</span>{% endfor %}
                        {% for error in form.city.errors %}<span class="text-danger small">{{ error }}</span>{% endfor %}
                        {% for error in form.address1.errors %}<span class="text-danger small">{{ error }}</span>{% endfor %}
                        {% for error in form.address2.errors %}<span class="text-danger small">{{ error }}</span>{% endfor %}
                    </div>
                </div>

                <div class="row mb-4">
                    <label for="{{ form.tel.id_for_label }}" class="col-md-4 col-form-label text-md-end fw-bold">電話番号</label>
                    <div class="col-md-6">
                        {{ form.tel }}
                        {% for error in form.tel.errors %}<span class="text-danger small">{{ error }}</span>{% endfor %}
                    </div>
                </div>

                <div class="row mb-0">
                    <div class="col-md-6 offset-md-4">
                        <button type="submit" class="btn text-white shadow-sm w-100" style="background-color: #A9894B;color: #fff;">
                            更新
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- ↑↑ main ↑↑ -->

{% endblock %}