{% load static %}
<div id="header">
    <nav class="navbar navbar-expand-md navbar-light" style="padding: 0.5rem 1rem;">
        <div class="container">
            <a class="navbar-brand app-name" href="{% url 'index' %}">
                <div class="logo d-flex align-items-center">
                    <img class="logo_img me-1" src="{% static 'assets/images/logo.png' %}" alt="nagoyameshi">
                    <h1>NAGOYAMESHI</h1>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav row ms-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <p class="mb-0" style="padding:0.25rem 1.5rem 0; color: #8b8b8b; font-size: 0.75rem;">ようこそ、<a href="{% url 'mypage' %}" style="color: #A9894B; font-size: 1rem;">{{ user.username }}</a>さん</p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-1" href="{% url 'mypage' %}" style="border:1px solid #8b8b8b;border-radius: 0.3rem; font-size: 0.8rem; padding: 0.35rem 1rem;">マイページ</a>
                    </li>                    
                        {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">新規登録</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">ログイン</a>
                    </li>
                    {% endif %}

                    {% if user.is_admin %}              
                        <li class="nav-item dropdown">
                            <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                                管理画面
                            </a>

                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'admin_summary' %}">売上集計</a>
                                <a class="dropdown-item" href="{% url 'admin:base_user_changelist' %}" target="_blank">会員一覧</a>
                                <a class="dropdown-item" href="{% url 'admin:base_shop_changelist' %}" target="_blank">店舗一覧</a>
                                <a class="dropdown-item" href="{% url 'admin:base_category_changelist' %}" target="_blank">カテゴリ一覧</a>
                                <a class="dropdown-item" href="{% url 'admin:base_tag_changelist' %}" target="_blank">カテゴリ一覧</a>
                                <a class="dropdown-item" href="{% url 'admin:index' %}" target="_blank">管理画面トップ</a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>